In [364]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display, HTML
import os
from ast import literal_eval
import itertools
from urllib.parse import urlparse

from transformers import AutoTokenizer
tokenizer = AutoTokenizer.from_pretrained('bert-base-cased')

# 1 Load Data

In [365]:
data_location = "data_round_1"

l_train_documents = pd.read_csv(os.path.join(data_location,"documents_en_train.csv"))
l_validation_documents = pd.read_csv(os.path.join(data_location,"documents_en_val.csv"))
l_test_documents = pd.read_csv(os.path.join(data_location,"documents_en_test.csv"))
        
l_train_sentences = pd.read_csv(os.path.join(data_location,"sentences_en_train.csv"), converters={'sector_ids': literal_eval})
l_validation_sentences = pd.read_csv(os.path.join(data_location,"sentences_en_val.csv"), converters={'sector_ids': literal_eval})
l_test_sentences = pd.read_csv(os.path.join(data_location,"sentences_en_test.csv"), converters={'sector_ids': literal_eval})

In [366]:
display(HTML(l_train_documents.head(2).to_html()))
display(HTML(l_train_sentences.head(2).to_html()))

In [367]:
train_documents = l_train_documents.copy().set_index("doc_id")
validation_documents = l_validation_documents.copy().set_index("doc_id")
test_documents = l_test_documents.copy().set_index("doc_id")

#Adding one feature here already because its easier on this data-format
l_train_sentences["sentence_position"] = l_train_sentences["sentence_id"].apply(lambda x: np.log(x+1))
l_validation_sentences["sentence_position"] = l_validation_sentences["sentence_id"].apply(lambda x: np.log(x+1))
l_test_sentences["sentence_position"] = l_test_sentences["sentence_id"].apply(lambda x: np.log(x+1))

train_sentences = l_train_sentences.copy().set_index(["doc_id","sentence_id"])
validation_sentences = l_validation_sentences.copy().set_index(["doc_id","sentence_id"])
test_sentences = l_test_sentences.copy().set_index(["doc_id","sentence_id"])

# 2 Change nominal features to Indices

In [368]:
train_documents["doc_url"].fillna("",inplace=True)
validation_documents["doc_url"].fillna("",inplace=True)
test_documents["doc_url"].fillna("",inplace=True)

In [369]:
project_name_mapping = dict((o,idx) for idx, o in enumerate(set(train_documents["project_name"])))
country_code_mapping = dict((o,idx) for idx, o in enumerate(set(train_documents["country_code"])))
url_set = set(train_documents["doc_url"].apply(lambda x: urlparse(x).netloc))
document_url_mapping = dict((o,idx) for idx, o in enumerate(url_set))

In [370]:
train_documents.replace(project_name_mapping, inplace=True)
validation_documents.replace(project_name_mapping, inplace=True)
test_documents.replace(project_name_mapping, inplace=True)

train_documents.replace(country_code_mapping, inplace=True)
validation_documents.replace(country_code_mapping, inplace=True)
test_documents.replace(country_code_mapping, inplace=True)

In [371]:
train_documents["url"] = train_documents["doc_url"].apply(lambda x: urlparse(x).netloc).replace(document_url_mapping)
validation_documents["url"] = validation_documents["doc_url"].apply(lambda x: urlparse(x).netloc).replace(document_url_mapping)
test_documents["url"] = test_documents["doc_url"].apply(lambda x: urlparse(x).netloc).replace(document_url_mapping)
#Make unknown (from train set) urls a seperate index
for item in validation_documents.iterrows():
    if urlparse(item[1]["doc_url"]).netloc not in url_set:
        validation_documents.loc[item[0], "url"] = len(url_set)
        
for item in test_documents.iterrows():
    if urlparse(item[1]["doc_url"]).netloc not in url_set:
        test_documents.loc[item[0], "url"] = len(url_set)

# 3 Extract some features

In [372]:
#Extract document length
train_documents["text_length"] = train_documents["doc_text"].apply(len).apply(np.log) #the idea behind log is that the net can use it better (but maybe it is wrong?)
validation_documents["text_length"] = validation_documents["doc_text"].apply(len).apply(np.log)
test_documents["text_length"] = test_documents["doc_text"].apply(len).apply(np.log)

#Extract sentence count in document
train_documents["sentence_count"] = train_sentences.groupby(level="doc_id").size().apply(np.log)
validation_documents["sentence_count"] = validation_sentences.groupby(level="doc_id").size().apply(np.log)
test_documents["sentence_count"] = test_sentences.groupby(level="doc_id").size().apply(np.log)

#Extract Sentence Length
train_sentences["sentence_length"] = train_sentences["sentence_text"].apply(len).apply(np.log)
validation_sentences["sentence_length"] = validation_sentences["sentence_text"].apply(len).apply(np.log)
test_sentences["sentence_length"] = test_sentences["sentence_text"].apply(len).apply(np.log)

In [373]:
test_documents

,project_name,country_code,lang_code,doc_text,doc_url,url,text_length,sentence_count
doc_id,,,,,,,,
40328,3,4,en,Coxâ€™s Bazar â€“ The International Organization f...,https://reliefweb.int/report/bangladesh/iom-am...,86,7.983099,2.772589
39775,5,1,en,Introduction The continuation of conflict in N...,https://reliefweb.int/sites/reliefweb.int/file...,86,9.124456,3.496508
47025,0,2,en,"Damascus, SANA- Al Mujtahed Â Damascus Hospital...",http://sana.sy/en/?p=216501,66,7.271704,1.609438
44256,1,0,en,"Kongoussi, Burkina Faso â€”Editor's note: In a M...",https://allafrica.com/stories/202010130090.html,61,9.229456,4.110874
35135,0,2,en,Pandemic Also Opportunity for Business Elite t...,,0,8.122074,2.944439
...,...,...,...,...,...,...,...,...
44892,0,2,en,CCCM and Shelter/NFI Clustersâ€™ Fire Prevention...,https://reliefweb.int/sites/reliefweb.int/file...,86,9.627009,4.624973
51667,3,4,en,Bangladeshâ€™s daily infection rate fell slightl...,https://unb.com.bd/category/Bangladesh/covid-1...,73,8.129470,3.367296
40325,3,4,en,Bangladesh is hosting more than one million Ro...,https://reliefweb.int/report/bangladesh/bangla...,86,7.973500,2.995732
34596,0,2,en,July 2020 | Round 2 How COVID-19 compounds alr...,,0,10.176982,4.934474
51682,3,4,en,File photo of In a densely populated city like...,https://www.dhakatribune.com/health/coronaviru...,131,7.952615,3.135494

- Maybe add target encoding (but I am not sure if it is so powerful since we do not have so many nominal classes)

# 4 Tokenize sentences (first 512 tokens) & remove sentence feature

In [374]:
train_sentences["tokenized_sentence"] = train_sentences["sentence_text"].apply(lambda x: tokenizer(x, max_length=512, truncation="longest_first")["input_ids"])
validation_sentences["tokenized_sentence"] = validation_sentences["sentence_text"].apply(lambda x: tokenizer(x, max_length=512, truncation="longest_first")["input_ids"])
test_sentences["tokenized_sentence"] = test_sentences["sentence_text"].apply(lambda x: tokenizer(x, max_length=512, truncation="longest_first")["input_ids"])

train_sentences.drop("sentence_text", axis="columns", inplace= True)
validation_sentences.drop("sentence_text", axis="columns", inplace= True)
test_sentences.drop("sentence_text", axis="columns", inplace= True)

# 5 Remove unnecessary features

In [375]:
train_documents.drop("lang_code",axis="columns", inplace = True)
validation_documents.drop("lang_code",axis="columns", inplace = True)
test_documents.drop("lang_code",axis="columns", inplace = True)

In [376]:
train_documents.drop("doc_text",axis="columns", inplace = True)
validation_documents.drop("doc_text",axis="columns", inplace = True)
test_documents.drop("doc_text",axis="columns", inplace = True)

In [377]:
train_documents.drop("doc_url",axis="columns", inplace = True)
validation_documents.drop("doc_url",axis="columns", inplace = True)
test_documents.drop("doc_url",axis="columns", inplace = True)

In [378]:
display(HTML(train_documents.head(2).to_html()))
display(HTML(train_sentences.head(2).to_html()))

# 6 Join together and save

In [388]:
train_joint = train_sentences.join(train_documents, on="doc_id")
validation_joint = validation_sentences.join(validation_documents, on="doc_id")
test_joint = test_sentences.join(test_documents, on="doc_id")
train_joint

                    is_relevant sector_ids  sentence_position  \
doc_id sentence_id
51657  0                      0         []           0.000000
       1                      0         []           0.693147
       2                      0         []           1.098612
       3                      0         []           1.386294
       4                      0         []           1.609438
...                         ...        ...                ...
34512  121                    0         []           4.804021
       122                    0         []           4.812184
       123                    0         []           4.820282
       124                    0         []           4.828314
       125                    0         []           4.836282

                    sentence_length  \
doc_id sentence_id
51657  0                   5.252273
       1                   4.127134
       2                   4.682131
       3                   4.875197
       4                   4.204693
...                             ...
34512  121                 4.234107
       122                 5.017280
       123                 4.234107
       124                 4.174387
       125                 5.420535

                                                   tokenized_sentence  \
doc_id sentence_id
51657  0            [101, 1203, 15689, 1811, 3298, 2057, 1107, 200...
       1            [101, 9917, 1110, 1120, 1103, 2057, 1104, 1103...
       2            [101, 1109, 1207, 3298, 2057, 1144, 1462, 1167...
       3            [101, 1109, 15689, 1811, 3298, 2057, 1108, 187...
       4            [101, 2408, 1104, 1292, 3298, 1435, 1121, 2869...
...                                                               ...
34512  121          [101, 1438, 117, 13879, 22346, 1116, 1132, 113...
       122          [101, 1130, 5008, 117, 1175, 1132, 3756, 1104,...
       123          [101, 1109, 9690, 12240, 1708, 1264, 1209, 171...
       124          [101, 1192, 1169, 1525, 1126, 24431, 1104, 115...
       125          [101, 1429, 9690, 12240, 1708, 145, 25810, 149...

                    project_name  country_code  url  text_length  \
doc_id sentence_id
51657  0                       2             3   65     7.699389
       1                       2             3   65     7.699389
       2                       2             3   65     7.699389
       3                       2             3   65     7.699389
       4                       2             3   65     7.699389
...                          ...           ...  ...          ...
34512  121                     0             2    0    10.068493
       122                     0             2    0    10.068493
       123                     0             2    0    10.068493
       124                     0             2    0    10.068493
       125                     0             2    0    10.068493

                    sentence_count
doc_id sentence_id
51657  0                  2.944439
       1                  2.944439
       2                  2.944439
       3                  2.944439
       4                  2.944439
...                            ...
34512  121                4.836282
       122                4.836282
       123                4.836282
       124                4.836282
       125                4.836282

[261981 rows x 10 columns]

In [380]:
train_joint.to_hdf(os.path.join("preprocessed_data", "train_joint.h5"), key='s')
validation_joint.to_hdf(os.path.join("preprocessed_data", "validation_joint.h5"), key='s')
test_joint.to_hdf(os.path.join("preprocessed_data", "test_joint.h5"), key='s')

C:\Users\alexa\.conda\envs\main\lib\site-packages\pandas\core\generic.py:2606: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['sector_ids', 'tokenized_sentence'], dtype='object')]

  pytables.to_hdf(
C:\Users\alexa\.conda\envs\main\lib\site-packages\pandas\core\generic.py:2606: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block2_values] [items->Index(['sector_ids', 'tokenized_sentence', 'url'], dtype='object')]

  pytables.to_hdf(
C:\Users\alexa\.conda\envs\main\lib\site-packages\pandas\core\generic.py:2606: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block2_values] [items->Index(['tokenized_sentence', 'url'], dtype='object')]

  pytables.to_hdf(

In [384]:
train_sentences.to_hdf(os.path.join("preprocessed_data", "train_sentences.h5"), key='s')
validation_sentences.to_hdf(os.path.join("preprocessed_data", "validation_sentences.h5"), key='s')
test_sentences.to_hdf(os.path.join("preprocessed_data", "test_sentences.h5"), key='s')

C:\Users\alexa\.conda\envs\main\lib\site-packages\pandas\core\generic.py:2606: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['sector_ids', 'tokenized_sentence'], dtype='object')]

  pytables.to_hdf(
C:\Users\alexa\.conda\envs\main\lib\site-packages\pandas\core\generic.py:2606: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['tokenized_sentence'], dtype='object')]

  pytables.to_hdf(

In [385]:
train_documents.to_hdf(os.path.join("preprocessed_data", "train_documents.h5"), key='s')
validation_documents.to_hdf(os.path.join("preprocessed_data", "validation_documents.h5"), key='s')
test_documents.to_hdf(os.path.join("preprocessed_data", "test_documents.h5"), key='s')

C:\Users\alexa\.conda\envs\main\lib\site-packages\pandas\core\generic.py:2606: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->integer,key->block1_values] [items->Index(['url'], dtype='object')]

  pytables.to_hdf(